* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
.Container {
	margin-top: 50px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 40px;
}
.color {
	height: 80%;
	/* border-radius: 10px; */
}
.card {
	width: 180px;
	height: 240px;
	text-align: center;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.8);
}
.card > p {
	margin-top: 10px;
}